In [1]:
import pandas as pd

In [2]:
my_series = pd.Series([1,2,3,4,5])

print(my_series)
print(type(my_series))
print(my_series.iloc[2])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
3

In [3]:
my_cars_list = ["Ford", "Chevy", "Tesla"]
car_series = pd.Series(my_cars_list)
print(car_series)

0     Ford
1    Chevy
2    Tesla
dtype: object

In [4]:
my_df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print(my_df)
print(type(my_df))
print()

print(my_df[0])
print(my_df.iloc[0])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
<class 'pandas.core.frame.DataFrame'>

0    1
1    4
2    7
Name: 0, dtype: int64
0    1
1    2
2    3
Name: 0, dtype: int64

In [5]:
df2 = pd.DataFrame([1,2,3,4,5])
df2.index = ["one", "two", "three", "four", "five"]
print(list(df2.index))

['one', 'two', 'three', 'four', 'five']

In [6]:
my_cars_dict = {
    "make": ["Ford", "Chevy", "Honda"],
    "model": ["Escape", "Impala", "Civic"],
    "year": [1995, 1999, 2005]
}

my_cars_df = pd.DataFrame(my_cars_dict)
my_cars_df

    make   model  year
0   Ford  Escape  1995
1  Chevy  Impala  1999
2  Honda   Civic  2005

In [7]:
my_cars_df.columns = ["CAR MAKE", "CAR MODEL", "CAR YEAR"]
print(my_cars_df.columns)
my_cars_df
# my_cars_df.index = ["CAR ONE", "CAR TWO", "CAR THREE"]
# print(my_cars_df.index)

Index(['CAR MAKE', 'CAR MODEL', 'CAR YEAR'], dtype='object')

  CAR MAKE CAR MODEL  CAR YEAR
0     Ford    Escape      1995
1    Chevy    Impala      1999
2    Honda     Civic      2005

In [8]:
my_cars_df["CAR MAKE"]

0     Ford
1    Chevy
2    Honda
Name: CAR MAKE, dtype: object

In [9]:
# .loc locate row by name
# .iloc locate row by index number

print(my_cars_df.loc[1, "CAR MODEL"])
print(my_cars_df.iloc[2,1])

Impala
Civic

In [10]:
golf_df = pd.read_csv("data/playgolf.csv")

In [11]:
golf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         14 non-null     object
 1   Outlook      14 non-null     object
 2   Temperature  14 non-null     int64
 3   Humidity     14 non-null     int64
 4   Windy        14 non-null     bool
 5   Result       14 non-null     object
dtypes: bool(1), int64(2), object(3)
memory usage: 702.0+ bytes

In [12]:
golf_df.head(10)

      Date   Outlook  Temperature  Humidity  Windy      Result
0   7/1/14     sunny           85        85  False  Don't Play
1   7/2/14     sunny           80        90   True  Don't Play
2   7/3/14  overcast           83        78  False        Play
3   7/4/14      rain           70        96  False        Play
4   7/5/14      rain           68        80  False        Play
5   7/6/14      rain           65        70   True  Don't Play
6   7/7/14  overcast           64        65   True        Play
7   7/8/14     sunny           72        95  False  Don't Play
8   7/9/14     sunny           69        70  False        Play
9  7/10/14      rain           75        80  False        Play

In [15]:
golf_df[golf_df["Temperature"] > 80]
print()
golf_df[(golf_df["Temperature"] > 69) & (golf_df["Humidity"] > 90)]

     Date Outlook  Temperature  Humidity  Windy      Result
3  7/4/14    rain           70        96  False        Play
7  7/8/14   sunny           72        95  False  Don't Play

In [28]:
#print row(s) that meet the condtion
print(golf_df[golf_df["Humidity"] == golf_df.Humidity.max()])

print()

#print only date of codition met for humidity
print(golf_df["Date"][golf_df["Humidity"] == golf_df.Humidity.max()])

     Date Outlook  Temperature  Humidity  Windy Result
3  7/4/14    rain           70        96  False   Play

3    7/4/14
Name: Date, dtype: object

In [31]:
golf_df

       Date   Outlook  Temperature  Humidity  Windy      Result
0    7/1/14     sunny           85        85  False  Don't Play
1    7/2/14     sunny           80        90   True  Don't Play
2    7/3/14  overcast           83        78  False        Play
3    7/4/14      rain           70        96  False        Play
4    7/5/14      rain           68        80  False        Play
5    7/6/14      rain           65        70   True  Don't Play
6    7/7/14  overcast           64        65   True        Play
7    7/8/14     sunny           72        95  False  Don't Play
8    7/9/14     sunny           69        70  False        Play
9   7/10/14      rain           75        80  False        Play
10  7/11/14     sunny           75        70   True        Play
11  7/12/14  overcast           72        90   True        Play
12  7/13/14  overcast           81        75  False        Play
13  7/14/14      rain           71        80   True  Don't Play

In [30]:
golf_df.groupby("Outlook").mean()

          Temperature  Humidity  Windy
Outlook
overcast         75.0      77.0    0.5
rain             69.8      81.2    0.4
sunny            76.2      82.0    0.4

In [32]:
golf_df.groupby("Windy").mean()

       Temperature  Humidity
Windy
False    75.375000    82.375
True     71.166667    77.500

In [36]:
golf_df.groupby(["Outlook", "Windy"]).mean()

                Temperature   Humidity
Outlook  Windy
overcast False    82.000000  76.500000
         True     68.000000  77.500000
rain     False    71.000000  85.333333
         True     68.000000  75.000000
sunny    False    75.333333  83.333333
         True     77.500000  80.000000

In [38]:
print(type(golf_df["Humidity"]))
print(type(golf_df["Humidity"].values))

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>