#### Loading/Reading CSV
Short Lesson

In [1]:
import numpy as np

In [2]:
path = "grades.csv"

In [6]:
grades_in = np.loadtxt(path, dtype=str, delimiter=",")

In [7]:
grades_in

array([['Student', 'Math', 'English', 'Gym'],
       ['Sanjay', '83', '87', '84'],
       ['Sally', '93', '97', '94'],
       ['Edgar', '73', '77', '74']], dtype='<U7')

In [8]:
grades_in[1: , 0]

array(['Sanjay', 'Sally', 'Edgar'], dtype='<U7')

In [15]:
only_grades = grades_in[1: , 1:].astype("float")
only_grades

array([[83., 87., 84.],
       [93., 97., 94.],
       [73., 77., 74.]])

In [16]:
only_math = only_grades[:, 0]
only_math

array([83., 93., 73.])

In [17]:
# Average of math grades
np.mean(only_math)

83.0

In [19]:
# row sums
np.sum(only_grades, axis=0)
# math sum, english sum, gym sum

array([249., 261., 252.])

In [20]:
# column sums
np.sum(only_grades, axis=1)
# sanjay sum, sally sum, edgar sum

array([254., 284., 224.])