In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Datasets
# Dataset one
data_one_x = np.array([10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5])
data_one_y = np.array([8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82, 5.68])
df_one = pd.DataFrame(data=[data_one_x, data_one_y], index=['x', 'y'])
df_one = df_one.T
# Dataset two
data_two_x = np.array([10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5])
data_two_y = np.array([9.14, 8.14, 8.74, 8.77, 9.26, 8.10, 6.13, 3.10, 9.13, 7.26, 4.74])
df_two = pd.DataFrame(data=[data_two_x, data_two_y], index=['x', 'y'])
df_two = df_two.T
# Dataset three
data_three_x = np.array([10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5])
data_three_y = np.array([7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73])
df_three = pd.DataFrame(data=[data_three_x, data_three_y], index=['x', 'y'])
df_three = df_three.T
# Dataset four
data_four_x = np.array([8, 8, 8, 8, 8, 8, 8, 19, 8, 8, 8])
data_four_y = np.array([6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.50, 5.56, 7.91, 6.89])
df_four = pd.DataFrame(data=[data_four_x, data_four_y], index=['x', 'y'])
df_four = df_four.T

In [9]:
df_one.head(2)

      x     y
0  10.0  8.04
1   8.0  6.95

In [10]:
df_two.head(2)

      x     y
0  10.0  9.14
1   8.0  8.14

In [11]:
df_three.head(2)

      x     y
0  10.0  7.46
1   8.0  6.77

In [12]:
df_four.head(2)

     x     y
0  8.0  6.58
1  8.0  5.76